@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  background-color: black;
} */
  body {
    transition: background-color 0.5s ease;
  } 

  .light-mode {
    --bg-color: #ffffff;
    --text-color: #333333;
  }  
  .dark-mode {
    --bg-color: black;
    --text-color: #ffffff;
  }
 body {
  background-color: var(--bg-color);
  color: var(--text-color);
}  



.body-bg {
  /* background-image: url("/assets/main-bg.png"); */
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 5%;
} 

.home-bg {
  /* background-image: url("/assets/Homepage.png"); */
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 5%;
}

.body-container {
  background-color: black;
}
.section-container-un {
  /* background-image: url("/public/assets/Ellipse.png"); */
}
/* FONTs */
.lexend {
  font-family: "Lexend", sans-serif;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}
/*  */

/* TEXT */
.text-primary {
  color: #fff;
}
.text-secondary {
  color: #3658c1;
}
.text-tetiary {
  color: #991275;
}
/*  */


.morph {
  @apply bg-opacity-5 backdrop-blur-sm text-white border-2 shadow-lg rounded-[30px] py-10 2xl:px-5;
}

.number-morph {
  @apply  bg-opacity-5 backdrop-blur-sm text-white border shadow-lg rounded-full border-slate-500;
}
.price-card-morph {
  @apply backdrop-blur-sm  border shadow-lg rounded-2xl  bg-blend-overlay;
}
.glassmorph {
  @apply backdrop-blur-sm w-full  bg-opacity-5  shadow-lg rounded-xl py-5 2xl:px-5 cursor-pointer;
}
.bullet-point::before {
  content: "";
  position: relative;
  right: 10px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-image: url("/assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.glass-morph-table {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.glass-morph-header {
  border-radius: 20%;
  backdrop-filter: blur(10px);
  border-radius: 35px;
}
table {
  border-radius: 30px !important;
}
td {
  border: none !important;
  padding: 30px 15px !important;
}
tbody {
  padding: 0px 30px;
}

input,
textarea {
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.disclaimer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 20px 20px 30px 20px;
  border: 1px solid red;
}

@media only screen and (max-width: 539px) {
  .disclaimer {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .MobileGetInTouch-h2 {
    font-size:2.2rem;
  }
}
@media only screen and (max-width: 280px) {
  .MobileGetInTouch-h2 {
    font-size:1.4rem;
  }
  .MobileGetInTouch-h1{
    font-size:0.5rem;

  }
}

/* CAROUSEL */
.cards {
  display: grid;
  place-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
}
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card {
  background: transparent;
  padding: 1.5rem;
  max-width: 100%;
  border-radius: 0.5rem;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card {
  animation-paly-state: paused;
}
.cards .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

.bouncing-image {
  animation: bounce 5s infinite; 
  transform-origin: center;
}
@media only screen and (max-width:730px){
  .bouncing-image{
    animation: none; 
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 1;
    transform: translateY(-100%) scale(0.7);
  }
}
/* TESTIMONIAL */
.carousel {
  padding: 5rem;
  background-color: black;
  color: #991275;
  /* height: 100vh; */
  width: 100%;
}

.slick-slide div {
  margin: 0 1rem;
}

.price-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  break-after: avoid-page;
}

.price-card:nth-last-child(-n + 2) {
  grid-column: 2/4;
  justify-self: center;
}
.price-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}
button {
  transition: all 0.3s ease in out;
}
button:active {
  background-color: #991275;
}
button:focus {
  background-color: #fff;
  color: black;
}
 .navbar-slide-out {
  transition: all .3s ease-in;
 }

 /* SCROLL TO TOP */
 .launch {
  position: relative;
}

.iconPosition {
  position: fixed;
  top: 87%;
  left: 90%;
  z-index: 20;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.iconPosition:hover {
  animation: none;
}


.loaderGif{
  position: absolute;
  left: 40%;
  transform: translate(0%, 70%);
}

/* carousel Swiper */
